/* Video play button */
/**<img style="display: inline;" src="assets/hero_play_small.png" alt="play video" border="0" height="279" width="344">**/
.heroPlayit {
  background: transparent url(hero_play_small.png) 50% 50%;
  text-indent: -10000%;
  margin: 0 auto;
  display: block;
  height: 279px;
}
